
/*General*/

body {
font-family: "Raleway";
max-width: 100vw;
}

.contentSpace {
  height: 100px;
}

.subHeader {
  background-color: rgb(253, 253, 253);
  opacity: 80;
  display: flex;
  flex-direction: row;
  height:200px;
  max-width: 100vw;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  transition: opacity 0.3s ease-in-out;

}

.subHeader.hidden {
  opacity: 0;

}

/*Navigation Bar*/

.logo {
  max-height: 200px;
}

.logo img {
  max-height: 200px;
}

header h1 {
  font-size: 48px;
}


.companyTitle {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  transition: color 0.3s ease;
  color: black;
  z-index: 100;
  font-size: 48px;
}



.dark {
  color: white;
}

.light {
  color: black;
}

#image1 h1.companyTitle {
  color: white; /* Change the color to contrast the images */
}

/*Home */

.homeStripImg img {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    
}
.homeStripImg {
  background-color: white;
}



header {
    display: flex;
    flex-direction: row;
    height:300px;
    max-width: 100vw;
    margin-left:3%;
    margin-right: 3%;
    align-items: center;
    justify-content: space-between;

}

.subHeader .logo {
  margin-left: 32px;
}



/* Hamburger Menu */

.hamburger {
  position: fixed;
  z-index: 1000;
  right: 0;
  margin-right: 8.3%;
}

#hamburger-1.is-active {
  position: fixed;
  z-index: 1000;
  margin-bottom: 20px;
}


.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #000000;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: block;
    z-index: 1001;
    position: relative;
  }
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
    background-color: white !important;
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
    background-color: white !important;
  
  }
  
  
  .menu {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    text-align: right;
    padding-top: 20px;
    
  
  }
  
  .menu ul {
    margin-right: 154px;
    font-size: 32px;
    position: relative;
    margin-top: 154px;
  }
  
  .menu li {
  
    display: block;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
  
  }
  
  .menu li a {
  
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  
  }
  
  .menu-options {
    margin: 154px;
    padding: 0;
    text-align: right;
  }
  
  
  .menu-options li {
    display: block;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
  }

  
  /*About Us*/

  .pageTitle {
    font-size: 48px !important;
    margin-left: 32px;
  }

  .aboutContainer {
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    
  }

  h1 {
    font-size: 48px;
  }

  .aboutItem h2 {
    font-size: 48px;
  }

  .aboutItem {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    text-align: justify;
    align-items: start;
    justify-content: space-between;
  }

  .aboutPhoto {
    max-width: 720px;
    max-height: 720px;
    object-fit: cover;
  }

  .aboutItem:nth-child(even) {
    flex-direction: row-reverse;
  }

  .aboutText {
    max-width: 630px;
    align-items: center;
  }

  @media screen and (min-width: 200px) {
    .aboutText {
      max-width: none;
    }
  }
  

  @media screen and (max-width: 768px) {
    .aboutContainer {
      flex-direction: column;
    }

    .aboutItem:nth-child(even) {
      flex-direction: column;
    }
    .aboutItem {
      flex-direction: column;
    }
  

  }

  @media screen and (min-width: 1024px) {

    .aboutPhoto {
      min-width: 720px;
      min-height: 720px;
    }

  }

  /*Services*/

  .photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 75px;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 100vw;
    margin-bottom: 100px;
  }

  .gridImg {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    max-width: 420px;
    max-height: 420px;


  }

  .gridImg:hover .overlay {
    opacity: 0.46;
  }

  .imageHover {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 420px;
  max-height: 420px;

  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
  }
  
.text {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .photoGrid {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }

  .gridImg {
    max-width: 100%;
  }
}

/*CONTACT*/

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.contactImg {

  width: 300px;
  height: 600px;
  object-fit: cover;
}

.contactText {
  max-width: 600px;
  margin-right: 15%;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
}